body {
  margin: 0;
  background-color: #173640;
  font-family: 'Poppins', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;

}

@layer utilities{
  .text-gradient{
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
